.appointment {
  text-align: center;
  border: none;
  background-color: var(--lightYellow);
  width: 50%;
  margin: auto;
  position: relative;
  top: 170px;
}


@media screen and (min-width: 640px) {
   .appointment {
    position: relative;
    top: 100px;
  } 
}



@media screen and (max-width: 500px) {
    .appointment {
    position: relative;
    top: 150px;
  }  
}

