h2 {
  padding: 20px;
  font-size: 30px;
  font-style: italic;
}

img {
  height: 40vw;
  margin: 20px;
  position: relative;
  top: 70px;
}

hr {
  border: 1px solid var(--lightYellow);
}

p {
  font-size: 16px;
  font-style: oblique;
  line-height: 1.6;
  max-width:500px;
}

.second-paragraph {
  font-size: 16px;
  font-style: oblique;
  line-height: 1.6;
  max-width:500px;
}

.column {
  float: left;
  width: 30%;
  display: flex;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 15px;
  height: 100vh;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.centered {
  position: absolute;
  bottom: 0px;
}
button {
  width: 10%;
  background-color: var(--lightYellow);
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: var(--darkYellow);
}

/* Small Laptop */
@media screen and (min-width: 768px) {
  .centered {
    position: absolute;
    bottom: 20px;
  }
  button {
    width: 20%;
  }
}

/* Tablet */
@media screen and (min-width: 640px) {
  .centered {
    position: absolute;
    bottom: 450px;
  }
  button {
    width: 22%;
  }
  img {
    height: 50vw;
    margin: 20px;
    position: relative;
    top: 100px;
  }
}

/* Smaller Devices */
@media screen and (max-width: 500px) {
  .second-paragraph {
    display: none;
  }

  img {
    height: 70vw;
    position: relative;
    top: 60px;
    bottom: 10px;
    margin-right: 10px;
  }

  p {
    font-size: 14px;
  }
  h2 {
    font-size: 20px;
  }

  .column {
    flex-direction: column;
    width: 90vw;
    height: 45vh;
    margin-bottom: 40px;
    margin-left: inherit;
  }
  .centered {
    position: relative;
    bottom: 15px;
  }

  button {
    width: 48%;
  }
}
